@model Intuit.Ipp.Data.CompanyInfo

@{
    ViewBag.Title = "Company Details";
}
<h2>
    Quick Books Payments - API Call: Create a charge
</h2>
<div>
    <p><strong>Company Name:</strong> @Model.CompanyName</p>
    <p><strong>Legal Name:</strong> @Model.LegalName</p>
    <p><strong>Charge Back response:</strong> @ViewBag.PaymentDetails</p>
</div>